# Junk files
*~

# Jekyll requires the directory "_tabs", which should contain our files.  We
# will automatically copy files to that directory.
_tabs/

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist
